body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f6e5e0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-family: 'Courier New';
    font-size: 3em;
    color: #d48166;
    margin: 30% 0;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}